{{!-- header --}}
{{>header}}
{{!-- /header --}}
<div class="container">
     <h1 id="main_head">User Management System</h1>

     <div>

          <div class="all_user">
               <a href="/register" class="btn btn_submit">Register</a>
          </div>

          <div class="all_user">
               <a href="/login" class="btn btn_submit">Login</a>
          </div>

     </div>
</div>

{{!-- footer --}}
{{>footer}}
{{!-- /footer --}}