<div class="all_user">
     <a href="/" class="btn btn_submit">Back</a>
</div>

<form action="/login" method="post" id="form">

     <div class="inside_form">
          <label for="email" class="label_field">Email</label>
          <input type="text" name="email" class="input_field" placeholder="Enter your Email" />
     </div>

     <div class="inside_form">
          <label for="password" class="label_field">Password</label>
          <input type="password" name="password" class="input_field" placeholder="Enter your Password">
     </div>


     <div class="inside_form btn">
          <button type="submit" class="btn btn_submit">Login</button>
     </div>
</form>