<div class="all_user">
  <a href="/" class="btn btn_submit">Back</a>
</div>

<form action="/register" method="post" id="form">
  <div class="inside_form">
    <label for="name" class="label_field">Name</label>
    <input type="text" name="name" class="input_field" placeholder="Enter your Name" />
  </div>

  <div class="inside_form">
    <label for="email" class="label_field">Email</label>
    <input type="text" name="email" class="input_field" placeholder="Enter your Email" />
  </div>

  <div class="inside_form">
    <label for="password" class="label_field">Password</label>
    <input type="password" name="password" class="input_field" placeholder="Enter your Password">
  </div>

  <div class="inside_form">
    <label for="gender" class="label_field">Gender</label>

    <input type="radio" name="gender" value="Male" />
    <label for="gender" class="label_radio">Male</label>

    <input type="radio" name="gender" value="Female" />
    <label for="gender" class="label_radio">Female</label>
  </div>

  <div class="inside_form">
    <label for="status" class="label_field">Status</label>

    <input type="radio" name="status" value="Active" />
    <label for="status" class="label_radio">Active</label>

    <input type="radio" name="status" value="Inactive" />
    <label for="status" class="label_radio">Inactive</label>
  </div>

  <div class="inside_form btn">
    <button type="submit" class="btn btn_submit">Register</button>
  </div>
</form>